<div *ngIf="produits.length === 0; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <h1 class="mt-4">Votre panier est vide! Faut acheter voyons!</h1>
</ng-template>

<ng-template #elseBlock>
  <h1 class="mt-4">Votre panier</h1>

  <table class="table table-striped mt-4">
    <thead>
    <tr>
      <th>Article N°</th>
      <th>Nom</th>
      <th>Prix HT</th>
      <th>Qté</th>
      <th>Tx TVA</th>
      <th>Sous-total HT</th>
      <th>TVA</th>
      <th>Sous-total TTC</th>

    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let produit of produitsWithoutDuplicate; index as id">
      <td>{{id + 1}}</td>
      <td>{{produit.Name}}</td>
      <td>{{produit.Price.valueOf() | currency:'EUR':'symbol':undefined:'fr-FR'}}</td>
      <td><button class="alert-danger m-2" (click)="removeProduct(produit.Id)">-</button>
        {{getQte(produit.Id)}}
        <button class="alert-danger m-2"
        (click)="addProduct(produit.Id)">+</button>
      </td>
      <td>{{produit.Tva.valueOf()}} %</td>
      <td>{{getSsTotalHT(produit.Id) | currency:'EUR':'symbol':undefined:'fr-FR'}} </td>
      <td>{{getTvaAmount(produit.Id) | currency:'EUR':'symbol':undefined:'fr-FR'}} </td>
      <td>{{getSsTotalTTC(produit.Id) | currency:'EUR':'symbol':undefined:'fr-FR'}} </td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" style="border: none"></td>
      <td colspan="1">Nombre d'articles</td>
      <td colspan="1">{{produits.length}}</td>
    </tr>
    <tr>
      <td colspan="6" style="border: none"></td>
      <td colspan="1">TOTAL HT</td>
      <td colspan="1">{{getTotalHt() | currency:'EUR':'symbol':undefined:'fr-FR'}}</td>
    </tr>
    <tr>
      <td colspan="6" style="border: none"></td>
      <td colspan="1">TVA Totale</td>
      <td colspan="1">{{getTva() | currency:'EUR':'symbol':undefined:'fr-FR'}}</td>
    </tr>
    <tr>
      <td colspan="6" style="border: none"></td>
      <td colspan="1" style="font-weight: bold">TOTAL TTC</td>
      <td colspan="1">{{getTotalTtc() | currency:'EUR':'symbol':undefined:'fr-FR'}}</td>
    </tr>
    <tr>
      <td colspan="7" style="border: none"></td>
      <td colspan="1">
        <a class="btn btn-primary" routerLink="/pay">
          <span class="material-icons align-middle">euro_symbol</span> Valider le panier
        </a>
      </td>
    </tr>
    </tfoot>
  </table>
</ng-template>
